<% include ../partials/header %>

    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">VCL</span>
                <div class="mdl-layout-spacer"></div>
                <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">more_vert</i>
                </button>

                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
                    <li class="mdl-menu__item">Logout</li>
                </ul>
            </div>
        </header>

        <main class="mdl-layout__content">
            <div class="page-content">
                <!-- Your content goes here -->
                <!-- Flat button with ripple -->
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--12-col-tablet mdl-cell--2-offset-desktop">

                        <h2>Customize widget</h2>

                        <div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input form_name" type="text" id="form_name">
                                <label class="mdl-textfield__label" for="form_name">Form name</label>
                            </div>
                        </div>

                        <div>
                            <div class="mdl-textfield mdl-js-textfield">
                                <textarea class="mdl-textfield__input jobs" type="text" rows="5" id="jobs"></textarea>
                                <label class="mdl-textfield__label" for="jobs">Job positions</label>
                            </div>
                        </div>

                        

                    </div> <!-- /.mdl-cell -->

                    <div class="mdl-cell mdl-cell--2-col-desktop mdl-cell--12-col-tablet">
                         <!-- accent color -->
                        <h3>Theme</h3>
                         <div class="colour-container">
                             <label for="theme">Theme colour</label>
                            <input type="color" name="theme" id="theme" value="#3f51b5" onchange="themeColourChanged(this.value)">
                         </div>
                        <!-- input colors -->
                        <h3>Inputs</h3>
                        <div class="colour-container">
                            <label for="pop_text">Text colour</label>
                            <input type="color" onchange="inputTextColourChanged(this.value)" name="pop_text" id="pop_text" value="#000000">
                        </div>
                        
                        <div class="colour-container">
                            <label for="pop_bg">Background colour</label>
                            <input type="color" onchange="inputTextBackgroundColourChanged(this.value)" name="pop_bg" id="pop_bg" value="#ffffff">
                        </div>
                        
                    </div>

                    <div class="mdl-cell mdl-cell--2-col-desktop mdl-cell--12-col-tablet">
                        <!-- header color -->
                        <div class="colour-container">
                            <h3>Header</h3>
                            <label for="header">Text color</label>
                            <input type="color" onchange="headerTextColourChanged(this.value)" name="header_colour" id="header_colour" value="#ffffff">
                        </div>
                        <!-- popover colors -->
                        <h3>Popover</h3>
                        
                        <div class="colour-container">
                            <label for="pop_text">Text colour</label>
                            <input type="color" onchange="popoverTextColourChanged(this.value)" name="pop_text" id="pop_text" value="#000000">
                        </div>
                        
                        <div class="colour-container">
                            <label for="pop_bg">Background colour</label>
                            <input type="color" onchange="popoverBackgroundColourChanged(this.value)" name="pop_bg" id="pop_bg" value="#ffffff">
                        </div>
                    </div>

                    <div class="mdl-cell mdl-cell--8-col-desktop mdl-cell--12-col-tablet mdl-cell--2-offset-desktop">
                        

                        <div class="vcl-container">
                            <div class="vcl-header">
                                <span contenteditable="true" class="header-text">Record your video cover letter</span>
                                <i class="material-icons">info</i>
                            </div>
                            <div class="vcl-body">
                                this section will appear through API
                            </div>
                            <div class="vcl-attach"><span class="attach-text" contenteditable="true">attach your resume</span> <i class="material-icons">attach_file</i></div>

                            <div class="personal-info">
                                <input class="name full-width" type="text" placeholder="Your name" name="name" id="name" autocomplete="off">
                                <input class="email full-width" type="email" placeholder="Your email" name="email" id="email" autocomplete="off">
                            </div>

                            <br>
                            <button id="submit-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored float-right">
                                Submit
                            </button>
                        </div>
                        <div class="vcl-popover">
                            <p class="q1" contenteditable="true">Ask our first question</p>
                            <p class="q2" contenteditable="true">Ask our second question</p>
                            <p class="q3" contenteditable="true">Ask our second question</p>
                            <p class="q4" contenteditable="true">Ask our second question</p>
                        </div>


                    </div>
                </div>


                <% if ( typeof id != 'undefined' && id) { %>
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--8-col-desktop mdl-cell--12-col-tablet mdl-cell--2-offset-desktop">
                            &lt;script&gt;
                                var iframe = document.createElement('iframe');
                                document.body.appendChild(iframe);
                                iframe.src = '<%= 'http://localhost:3000/render?id=' + id %>';
                                iframe.width = '1000';
                                iframe.height = '400';
                            &lt;/script&gt;
                        </div>
                    </div>
                <% } else { %>
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--8-col-desktop mdl-cell--12-col-tablet mdl-cell--2-offset-desktop">
                        <button id="generate" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                            Generate link
                        </button>
                    </div>
                </div>
                <% } %>
                <!-- <% include ../partials/footer %> -->

            </div>
        </main>
    </div>
<script>
    var generateBtn = document.getElementById('generate');
    if(generateBtn) {
        generateBtn.onclick = function () {

            // create form
            var form = document.createElement('form');
            form.setAttribute('method', 'post');
            form.setAttribute('action', '/create');

            // name
            var widgetName = document.createElement('input')
            var nameText = document.querySelector('.form_name');
            widgetName.setAttribute('type', 'hidden');
            widgetName.setAttribute('name', 'name');
            widgetName.value = nameText.value;
            form.appendChild(widgetName);

            // jobs
            var widgetJobs = document.createElement('input')
            var jobsText = document.querySelector('.jobs');
            widgetJobs.setAttribute('type', 'hidden');
            widgetJobs.setAttribute('name', 'jobs');
            var jobsArr = (jobsText.value).split('\n');
            widgetJobs.value = JSON.stringify(jobsArr);
            form.appendChild(widgetJobs);

            // header 
            var widgetHeader = document.createElement('input')
            var headerText = document.querySelector('.header-text');
            widgetHeader.setAttribute('type', 'hidden');
            widgetHeader.setAttribute('name', 'header');
            widgetHeader.value = headerText.innerHTML;
            form.appendChild(widgetHeader);

            // attach
            var widgetAttachText = document.createElement('input')
            var attachText = document.querySelector('.attach-text');
            widgetAttachText.setAttribute('type', 'hidden');
            widgetAttachText.setAttribute('name', 'attach');
            widgetAttachText.value = attachText.innerHTML;
            form.appendChild(widgetAttachText);

            // question 1
            var q1Text = document.createElement('input')
            var q1 = document.querySelector('.q1');
            q1Text.setAttribute('type', 'hidden');
            q1Text.setAttribute('name', 'q1');
            q1Text.value = q1.innerHTML;
            form.appendChild(q1Text);

            // question 2
            var q2Text = document.createElement('input')
            var q2 = document.querySelector('.q2');
            q2Text.setAttribute('type', 'hidden');
            q2Text.setAttribute('name', 'q2');
            q2Text.value = q2.innerHTML;
            form.appendChild(q2Text);

            // question 3
            var q3Text = document.createElement('input')
            var q3 = document.querySelector('.q3');
            q3Text.setAttribute('type', 'hidden');
            q3Text.setAttribute('name', 'q3');
            q3Text.value = q3.innerHTML;
            form.appendChild(q3Text);

            // question 4
            var q4Text = document.createElement('input')
            var q4 = document.querySelector('.q4');
            q4Text.setAttribute('type', 'hidden');
            q4Text.setAttribute('name', 'q4');
            q4Text.value = q4.innerHTML;
            form.appendChild(q4Text);

            // submit
            document.body.appendChild(form);
            form.submit();
        }
        
    };
    
    // colour picker functions
    function themeColourChanged(value) {
        document.querySelector('.vcl-header').style.backgroundColor = value;
        document.querySelector('#submit-btn').style.backgroundColor = value; 
        document.querySelector('.vcl-body').style.borderColor = value;
        document.querySelector('.vcl-attach').style.borderColor = value;
        document.querySelector('.vcl-popover').style.borderColor = value;
        document.querySelector('.personal-info').style.borderColor = value;
        document.querySelectorAll('.personal-info input').forEach(function(input) {
            input.style.borderColor = value;
        })
    }

    function inputTextColourChanged(value) {
        document.querySelector('.vcl-attach').style.color = value;
        document.querySelectorAll('.personal-info input').forEach(function (input) {
            input.style.color = value;
        });
    }
    function inputTextBackgroundColourChanged(value) {
        document.querySelector('.vcl-attach').style.backgroundColor = value;
        document.querySelectorAll('.personal-info input').forEach(function (input) {
            input.style.backgroundColor = value;
        });
    }

    function headerTextColourChanged(value) {
        document.querySelector('.vcl-header').style.color = value;
    }

    function popoverBackgroundColourChanged(value) {
        document.querySelector('.vcl-popover').style.backgroundColor = value;
    }
    function popoverTextColourChanged(value) {
        document.querySelector('.vcl-popover').style.color = value;
    }
</script>
    <!-- <h2>form builder</h2> -->