<% include partials/header %>
<% include partials/navigation %>
<% include partials/flash %>

  

  <main class="main-container mt-5">
    <div class="container">
      <!-- Your content goes here -->

      <div class="row">
        <div class="col-md-6 offset-md-3 mb-5">
          <div class="f1-steps">
            <div class="f1-progress">
              <div class="f1-progress-line" data-now-value="48.66" data-number-of-steps="3" style="width: 48.66%;"></div>
            </div>
            <div class="f1-step activated">
              <div class="f1-step-icon"><i class="material-icons">account_box</i></div>
              <p>Register / Log in</p>
            </div>
            <div class="f1-step active">
              <div class="f1-step-icon"><i class="material-icons">filter_list</i></div>
              <p>Create / Edit</p>
            </div>
            <div class="f1-step">
              <div class="f1-step-icon"><i class="material-icons">done_all</i></div>
              <p>Get code</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 offset-md-3">
          <a class="btn btn-primary btn-raised" href="/create">Create</a>
        </div>
      </div>

      <div class="row mt-4 clearfix">
        
        <div class="col-md-6 offset-md-3">
          
          <!-- forms list -->
          <ul class="list-group">
            <% forms.forEach(function(form, index) { %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <%= form.name%>
              <div>
                <a href="/widget/<%= form.id%>" class="mr-1"><i class="material-icons mr-3">code</i></a>
                <a href="/widget/edit/<%= form.id %>" class="mr-1"><i class="material-icons mr-3">edit</i></a>
                <a href="/widget/delete/<%= form.id %>" class="btn-delete mr-1"><i class="material-icons mr-3">delete</i></a>
              </div>
              <!-- <span class="badge badge-primary badge-pill">
              </span> -->
            </li>
            <% }) %>
          </ul>
          <ul class="list-group">

            
                <span>

                  <!-- <i class="material-icons mdl-list__item-icon">drafts</i> -->
                  
                </span>
                
                <span class="actions">
                  
                </span>
            
            
          </ul>

        </div>
      </div>
      

      <!-- <% include partials/footer %> -->

    </div>
  </main>
<script>
  $('.btn-delete').on('click', function(e) {
    e.preventDefault();
    var prompt = confirm("Are you sure you want to delete?");

    if(prompt) {
      var href = $(this).attr('href');
      var url = window.origin + href;
      
      window.location.href = url;7
      
    }
  })
</script>
<!-- <h2>form builder</h2> -->
