<% include partials/header %>

<!-- Always shows a header, even in smaller screens. -->
  <nav class="navbar navbar-expand-xl navbar-dark bg-primary">
    <a class="navbar-brand" href="#">VLC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <!-- <a class="nav-link" href="#"><i class="material-icons">more_vert</i></a> -->
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="material-icons">more_vert</i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Logout</a>
          </div>
        </li>
  
      </ul>
    </div>
  </nav>

  <main class="mdl-layout__content">
    <div class="container">
      <!-- Your content goes here -->
      <!-- Flat button with ripple -->

      <div class="row mt-4 clearfix">
        
        <div class="col-lg-12">
          <a class="btn btn-default btn-raised float-right" href="/create">Create</a>
          <!-- forms list -->
          <ul class="list-group">

            <% forms.forEach(function(form, index) { %>
              <li class="list-group-item">
                <i class="material-icons mdl-list__item-icon">drafts</i>
                  <%= form.name%>
              </li>
            <% }) %>
            
          </ul>

        </div>
      </div>
      

      <!-- <% include partials/footer %> -->

    </div>
  </main>

<!-- <h2>form builder</h2> -->
