.mt-4 {
    margin-top: 1.25rem;
}

.float-right {
    float: right;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
* {
    box-sizing: border-box;
}
.page-content {
    min-height: 100vh;
}
.vcl-container {
    float: left;
}
.vcl-container .vcl-header {
    font-size: 1.2em;
    line-height: 1.4em;
    padding: 8px 12px;
    position: relative;
    text-align: center;
    color: #fff;
    width: 400px;
    background-color: rgb(63,81,181);
}

.vcl-container .vcl-header  .material-icons {
    position: absolute;
    top: 7px;
    right: 10px;
}

.vcl-container .vcl-body {
    height: 250px;
    border: 1px solid rgb(63,81,181);
    width: 400px;
    text-align: center;
    position: relative;
}

.vcl-container .vcl-attach {
    font-size: 1.2em;
    line-height: 1.4em;
    padding: 8px 12px;
    position: relative;
    text-align: center;
    width: 400px;
    border: 1px solid rgb(63,81,181);
    border-top: none;
}

.vcl-popover {
    border: 1px solid rgb(63,81,181);
    width: 300px;
    text-align: left;
    float: left;
    margin-left: 20px;
    position: relative;
}
#widget::after {
    content: '';
    display: table;
    clear: both;
}
.vcl-popover p {
    padding-left: 20px;
}

.vcl-w.vcl-popover {
    background: #ffffff;
    position: absolute;
    top: 50px;
    right: 10px;
    display: none;
    color: #000;
    z-index: 200000;
}
.vcl-popover p:first-of-type {
    margin-top: 15px;
}

.vcl-popover:before {
    content: '';
    display: block;
    border-style: solid;
    border-width: 10px;
    border-color: transparent;
    position: absolute;
    left: -21px;
    top: 10px;
    border-right-color: inherit;
}

.vcl-w.vcl-popover::before {
    border-color: transparent;
    border-right-color: inherit;
    right: 5px;
    top: -20px;
    left: auto;
    transform: rotate(90deg);
}
.vcl-header  .material-icons:hover + .vcl-w.vcl-popover {
    display: block;
}

.full-width {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
}

.full-width .mdl-textfield__input {
    padding: 4px 8px;
}

.full-width label {
    left: 8px;
}

.other-job-input {
    margin-top: -16px;
    padding: 8px;
    border: 1px solid rgb(63,81,181);
    display: none;
}
.other-job-input.show {
    display: block;
}

.job-select {
    border: 1px solid rgb(63,81,181);
    border-top-color: transparent;
}
.personal-info {
    border: 1px solid rgb(63,81,181);
    border-top: none;
}

.personal-info input {
    outline: 0;
    box-shadow: none;
    padding: 0.5rem 0rem;
    appearance: none;
    text-indent: 8px;
}
.personal-info input:first-of-type {
    border: none;
}
.personal-info input:last-of-type {
    border: none;
    border-top: 1px solid rgb(63,81,181);
}

.color-container label{
    width: 120px;
    display: inline-block;
    margin-bottom: 20px;
}
.mdl-textfield {
    width: 100%;
    max-width: 400px;
}