<% include ../partials/header %>

<% include ../partials/navigation %>
<% include ../partials/flash %>



<main class="main-content mt-5">
    <div class="container">


        <div class="row">
            <div class="col-md-6 offset-md-3 mb-5">
                <div class="f1-steps">
                    <div class="f1-progress">
                        <div class="f1-progress-line" data-now-value="16.66" data-number-of-steps="3" style="width: 48.66%;"></div>
                    </div>
                    <div class="f1-step activated">
                        <div class="f1-step-icon"><i class="material-icons">account_box</i></div>
                        <p>Register / Log in</p>
                    </div>
                    <div class="f1-step active">
                        <div class="f1-step-icon"><i class="material-icons">filter_list</i></div>
                        <p>Create / Edit</p>
                    </div>
                    <div class="f1-step">
                        <div class="f1-step-icon"><i class="material-icons">done_all</i></div>
                        <p>Get code</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">

                <h2>Customize widget</h2>

                <section>
                    <div class="form-group">
                        <label for="name" class="bmd-label-floating">Widget name</label>
                        <input type="text" class="form-control" id="widget_name">
                    </div>
                </section>

                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="themeOptions">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#theme-customize" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    <i class="material-icons add">add</i><i class="material-icons minus">remove</i> Theme
                                </button>
                            </h5>
                        </div>
                
                        <div id="theme-customize" class="collapse show" aria-labelledby="themeOptions" data-parent="#accordion">
                            <div class="card-body">
                                <div class="color-container">
                                    <label for="theme">Header background</label>
                                    <input type="color" name="theme" id="theme" value="#3f51b5" onchange="themeColorChanged(this.value)">
                                </div>
                                
                                <div class="color-container">
                                    <label for="header_color">Header text</label>
                                    <input type="color" onchange="headerTextColorChanged(this.value)" name="header_color" id="header_color" value="#ffffff">
                                </div>
                                
                                <div class="color-container">
                                    <label for="input_text">Text color</label>
                                    <input type="color" onchange="inputTextColorChanged(this.value)" name="input_text" id="input_text" value="#222222">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="tipbox-heading">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#tip-box-customizer" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                    <i class="material-icons add">add</i><i class="material-icons minus">remove</i> Tip Box
                                </button>
                            </h5>
                        </div>
                        <div id="tip-box-customizer" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <div class="color-container">
                                    <label for="pop_bg">Box background</label>
                                    <input type="color" onchange="popoverBackgroundColorChanged(this.value)" name="pop_bg" id="pop_bg" value="#ffffff">
                                </div>
                                
                                <div class="color-container">
                                    <label for="pop_text">Box text</label>
                                    <input type="color" onchange="popoverTextColorChanged(this.value)" name="pop_text" id="pop_text" value="#222222">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="job-heading">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#job-customizer"
                                    aria-expanded="false" aria-controls="collapseThree">
                                    <i class="material-icons add">add</i><i class="material-icons minus">remove</i> Job
                                </button>
                            </h5>
                        </div>
                        <div id="job-customizer" class="collapse" aria-labelledby="headingThree" data-parent="#accordion-job">
                            <div class="card-body">
                                <div id="accordion-job" class="mb-3">
                                    <!-- <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                                    aria-controls="collapseOne">
                                                    Job one
                                                </button>
                                            </h5>
                                        </div>
                                
                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-job">
                                            <div class="card-body">
                                                We are looking for some experienced developers who are experienced with Bootstrap, jQuery and
                                                Angular.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                                    aria-controls="collapseTwo">
                                                    Job two
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-job">
                                            <div class="card-body">
                                                We are looking for some experienced developers who are experienced with PHP, Nodejs and
                                                Photoshop.
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary btn-raised" data-toggle="modal" data-target="#add-job-modal">
                                    Add job
                                </button>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
                

            </div> <!-- /.mdl-cell -->

            <div class="col-lg-8">
                <div id="widget">
                    <div class="vcl-container">
                        <div class="vcl-header">
                            <span contenteditable="true" class="header-text">Record your video cover letter</span>
                            <i class="material-icons">info</i>
                        </div>
                        <div class="vcl-body">
                            this section will appear through API
                        </div>
                        <div class="vcl-attach"><span class="attach-text" contenteditable="true">attach your resume</span> <i class="material-icons">attach_file</i></div>
                    
                        <div class="personal-info">
                            <input class="name full-width" type="text" placeholder="Your name" name="name" id="name" autocomplete="off">
                            <input class="phone full-width input-border" type="email" placeholder="Your email" name="email" id="email" autocomplete="off">
                            <input class="name full-width" type="text" placeholder="Your phone" name="phone" id="phone" autocomplete="off">
                        </div>
                    
                        <br>
                        <!-- <button id="submit-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored float-right">
                            Submit
                        </button> -->
                        <div class="btn btn-raised btn-primary float-right" id="submit-btn">Submit</div>
                    </div>
                    <div class="vcl-popover">
                        <p class="q1" contenteditable="true">Ask our first question</p>
                        <p class="q2" contenteditable="true">Ask our second question</p>
                        <p class="q3" contenteditable="true">Ask our second question</p>
                        <p class="q4" contenteditable="true">Ask our second question</p>
                    </div>
                </div>
            </div>
        </div>


        <% if ( typeof id != 'undefined' && id) { %>
            <div class="row">
                <div class="col-md-6">
                    &lt;script&gt;
                        var iframe = document.createElement('iframe');
                        document.body.appendChild(iframe);
                        iframe.src = '<%= 'http://localhost:3000/render?id=' + id %>';
                        iframe.width = '1000';
                        iframe.height = '400';
                    &lt;/script&gt;
                </div>
            </div>
        <% } else { %>
        <div class="row">
            <div class="col-md-4">
                <button id="generate" class="btn btn-primary btn-raised mt-5">
                    Get code
                </button>
                <!-- <a id="" href="/widget/ghp5aga13dasf554aew" class="btn btn-primary btn-raised mt-5">
                    Get code
                </a> -->
            </div>
        </div>
        <% } %>
        <!-- <% include ../partials/footer %> -->

    </div>
</main>

<!-- Modal -->
<div class="modal fade" id="add-job-modal" tabindex="-1" role="dialog" aria-labelledby="add-job-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-job-modal-title">Add job</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="job_title" class="bmd-label-floating">Job title</label>
                    <input type="text" class="form-control" id="job_title">
                </div>

                <div class="form-group">
                    <label for="job_email" class="bmd-label-floating">Email 1 (Where you want to receive applications?)</label>
                    <input type="text" class="form-control" id="job_email">
                </div>

                <div class="form-group">
                    <label for="job_email2" class="bmd-label-floating">Email 2 (Where you want to receive applications?)</label>
                    <input type="text" class="form-control" id="job_email2">
                </div>

                <div class="form-group">
                    <label for="job_description" class="bmd-label-floating">Description</label>
                    <textarea class="form-control" rows="3" id="job_description"></textarea>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary btn-add">add</button>
            </div>
        </div>
    </div>
</div>
<script>
    var generateBtn = document.getElementById('generate');

    var jobs = [];

    function populateJobs() {
        var html = '';

        for( var i = 0; i < jobs.length; i++) {
            var job = jobs[i];

            html += `
                <div class="card">
                    <div class="card-header" id="${job.title}">
                        <h5 class="mb-0 d-flex justify-content-between align-items-center">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#${job.id}">
                                ${job.title}
                            </button>
                            
                            <span>
                                <a href=""><i class="material-icons mr-3">edit</i></a>
                                <a href=""><i class="material-icons mr-3">delete</i></a>
                            </span>
                        </h5>
                    </div>
            
                    <div id="${job.id}" class="collapse" data-parent="#accordion-job">
                        <div class="card-body">
                            <p class="text-primary">
                                email: ${job.email}<br/>
                                email2: ${job.email2}
                            </p>
                            <p>Description: ${job.description}</p>
                        </div>
                    </div>
                </div>
            `;
        }

        $('#accordion-job').html(html);
    }

    $('.btn-add').on('click', function(e){
        var title = $('#job_title').val();
        var email = $('#job_email').val();
        var email2 = $('#job_email2').val();
        var description = $('#job_description').val();

        // generate random id
        var id = "";
        var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

        for (var i = 0; i < 5; i++)
            id += possible.charAt(Math.floor(Math.random() * possible.length));
        
        jobs.push({
            id: id,
            title: title,
            email: email,
            email2: email2,
            description: description
        });

        $('#job_title').val('');
        $('#job_email').val('');
        $('#job_email2').val('');
        $('#job_description').val('');
        

        populateJobs();
        $('.modal').modal('hide');
    });

    if(generateBtn) {
        generateBtn.onclick = function () {
            console.log('submit')

            // create form
            var form = document.createElement('form');
            form.setAttribute('method', 'post');
            form.setAttribute('action', '/create');

            // name
            var widgetName = document.createElement('input')
            var nameText = document.querySelector('#widget_name');
            widgetName.setAttribute('type', 'hidden');
            widgetName.setAttribute('name', 'name');
            widgetName.value = nameText.value;
            form.appendChild(widgetName);

            // jobs
            // var widgetJobs = document.createElement('input')
            // var jobsText = document.querySelector('.jobs');
            // widgetJobs.setAttribute('type', 'hidden');
            // widgetJobs.setAttribute('name', 'jobs');
            // var jobsArr = (jobsText.value).split('\n');
            // widgetJobs.value = JSON.stringify(jobsArr);
            // form.appendChild(widgetJobs);

            // header 
            var widgetHeader = document.createElement('input')
            var headerText = document.querySelector('.header-text');
            widgetHeader.setAttribute('type', 'hidden');
            widgetHeader.setAttribute('name', 'header');
            widgetHeader.value = headerText.innerHTML;
            form.appendChild(widgetHeader);

            // attach
            var widgetAttachText = document.createElement('input')
            var attachText = document.querySelector('.attach-text');
            widgetAttachText.setAttribute('type', 'hidden');
            widgetAttachText.setAttribute('name', 'attach');
            widgetAttachText.value = attachText.innerHTML;
            form.appendChild(widgetAttachText);

            // question 1
            var q1Text = document.createElement('input')
            var q1 = document.querySelector('.q1');
            q1Text.setAttribute('type', 'hidden');
            q1Text.setAttribute('name', 'q1');
            q1Text.value = q1.innerHTML;
            form.appendChild(q1Text);

            // question 2
            var q2Text = document.createElement('input')
            var q2 = document.querySelector('.q2');
            q2Text.setAttribute('type', 'hidden');
            q2Text.setAttribute('name', 'q2');
            q2Text.value = q2.innerHTML;
            form.appendChild(q2Text);

            // question 3
            var q3Text = document.createElement('input')
            var q3 = document.querySelector('.q3');
            q3Text.setAttribute('type', 'hidden');
            q3Text.setAttribute('name', 'q3');
            q3Text.value = q3.innerHTML;
            form.appendChild(q3Text);

            // question 4
            var q4Text = document.createElement('input')
            var q4 = document.querySelector('.q4');
            q4Text.setAttribute('type', 'hidden');
            q4Text.setAttribute('name', 'q4');
            q4Text.value = q4.innerHTML;
            form.appendChild(q4Text);

            // color inputs
            var themeColor = document.createElement('input')
            var themeInput = document.querySelector('#theme');
            themeColor.setAttribute('type', 'hidden');
            themeColor.setAttribute('name', 'theme_color');
            themeColor.value = themeInput.value;
            form.appendChild(themeColor);

            var inputColor = document.createElement('input')
            var textColorInput = document.querySelector('#input_text');
            inputColor.setAttribute('type', 'hidden');
            inputColor.setAttribute('name', 'input_text_color');
            inputColor.value = textColorInput.value;
            form.appendChild(inputColor);

            // var inputBgColor = document.createElement('input')
            // var textBgInput = document.querySelector('#input_bg');
            // inputBgColor.setAttribute('type', 'hidden');
            // inputBgColor.setAttribute('name', 'input_bg_color');
            // inputBgColor.value = textBgInput.value;
            // form.appendChild(inputBgColor);

            var headerTextColor = document.createElement('input')
            var headerTextColorInput = document.querySelector('#header_color');
            headerTextColor.setAttribute('type', 'hidden');
            headerTextColor.setAttribute('name', 'header_text_color');
            headerTextColor.value = headerTextColorInput.value;
            form.appendChild(headerTextColor);

            var popoverTextColor = document.createElement('input')
            var popoverTextColorInput = document.querySelector('#pop_text');
            popoverTextColor.setAttribute('type', 'hidden');
            popoverTextColor.setAttribute('name', 'popover_text_color');
            popoverTextColor.value = popoverTextColorInput.value;
            form.appendChild(popoverTextColor);

            var popoverBgColor = document.createElement('input')
            var popoverBgColorInput = document.querySelector('#pop_bg');
            popoverBgColor.setAttribute('type', 'hidden');
            popoverBgColor.setAttribute('name', 'popover_bg_color');
            popoverBgColor.value = popoverBgColorInput.value;
            form.appendChild(popoverBgColor);

            // add jobs
            var jobsInput = document.createElement('input');
            jobsInput.setAttribute('name', 'jobs');
            jobsInput.setAttribute('type', 'hidden');
            jobsInput.value = JSON.stringify(jobs);
            form.appendChild(jobsInput);

            // submit
            document.body.appendChild(form);
            form.submit();
        }
        
    };
    
    // color picker functions
    function themeColorChanged(value) {
        document.querySelector('.vcl-header').style.backgroundColor = value;
        document.querySelector('#submit-btn').style.backgroundColor = value; 
        document.querySelector('.vcl-body').style.borderColor = value;
        document.querySelector('.vcl-attach').style.borderColor = value;
        document.querySelector('.vcl-popover').style.borderColor = value;
        document.querySelector('.personal-info').style.borderColor = value;
        document.querySelectorAll('.personal-info input').forEach(function(input) {
            input.style.borderColor = value;
        })
    }

    function inputTextColorChanged(value) {
        document.querySelector('.vcl-attach').style.color = value;
        document.querySelectorAll('.personal-info input').forEach(function (input) {
            input.style.color = value;
            input.setAttribute('data-color', value);
        });
    }
    function inputTextBackgroundColorChanged(value) {
        document.querySelector('.vcl-attach').style.backgroundColor = value;
        document.querySelectorAll('.personal-info input').forEach(function (input) {
            input.style.backgroundColor = value;
        });
    }

    function headerTextColorChanged(value) {
        document.querySelector('.vcl-header').style.color = value;
        document.querySelector('#submit-btn').style.color = value; 
    }

    function popoverBackgroundColorChanged(value) {
        document.querySelector('.vcl-popover').style.backgroundColor = value;
    }
    function popoverTextColorChanged(value) {
        document.querySelector('.vcl-popover').style.color = value;
    }
</script>