<% include ../partials/header %>

<% include ../partials/navigation %>
<% include ../partials/flash %>

<main class="main-container mt-5">
    <div class="container">

        <div class="codes">
        
            <div class="row">
                <div class="col-md-6 offset-md-3 mb-5">
                    <div class="f1-steps">
                        <div class="f1-progress">
                            <div class="f1-progress-line" data-now-value="80%" data-number-of-steps="3" style="width: 80%;"></div>
                        </div>
                        <div class="f1-step activated">
                            <div class="f1-step-icon"><i class="material-icons">account_box</i></div>
                            <p>Register / Log in</p>
                        </div>
                        <div class="f1-step activated">
                            <div class="f1-step-icon"><i class="material-icons">filter_list</i></div>
                            <p>Create / Edit</p>
                        </div>
                        <div class="f1-step active">
                            <div class="f1-step-icon"><i class="material-icons">done_all</i></div>
                            <p>Get code</p>
                        </div>
                    </div>
                </div>
        
        
            </div>
        
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <pre><code class="javascript js-highlight">    &lt;script&gt;
        var iframe = document.createElement('iframe');
        document.body.appendChild(iframe);
        iframe.src = '<%= baseUrl + '/render?id=' + id %>';
        iframe.width = '1000';
        iframe.height = '800';
        iframe.setAttribute('frameborder', '0');
        iframe.setAttribute('allow', 'camera; microphone');
    &lt;/script&gt;
                        </code></pre>

                        <button class="btn btn-primary btn-raised">Copy code</button>
                </div>
            </div>
        </div>

    </div>
</main>

<script>
    $('.js-highlight').each(function (i, block) {
        hljs.highlightBlock(block);
    });
</script>