<% include ../partials/header %>

    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

        <main class="mdl-layout__content">
            <div class="page-content">
                <!-- Flat button with ripple -->

                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--8-col-desktop mdl-cell--12-col-tablet mdl-cell--2-offset-desktop">

                        <!-- Your content goes here -->
                        <h2>Test page</h2>
                    </div>
                </div>

            </div>
        </main>
    </div>